<div class="hero-unit">
	<h1>Memory Millionaire</h1>
	<p>回憶百萬富翁，回憶曾有過的美好，拿到一百萬</p>
	<p><a class="btn btn-primary btn-large" onclick="fblogin();">立即進入</a></p>
</div>
<div class="row">
	<div class="span4"><h2>邀請</h2>
		<p>邀請好友及群組參與這個遊戲，所有題目會從你與朋友的互動中隨機選擇。</p>
	</div>
	<div class="span4"><h2>猜題</h2>
		<p>開始回想你與朋友的種種美好，每猜中一題，代表你與他更親近！你能拿到幾分？</p>
	</div>
	<div class="span4"><h2>PK</h2>
		<p>將題目交給朋友，看他能拿到幾分！別忘了要叫囂一下</p>
	</div>
</div>
<div class="fb-like-box" data-href="https://www.facebook.com/MemoryMillionaire" data-width="1000" data-show-faces="true" data-stream="false" data-header="true" ng-init="activeFb()"></div>